<link rel="stylesheet" href="https://yangyangdeyi.oss-cn-shenzhen.aliyuncs.com/statis/js/2019823154512469.css">
<link rel="stylesheet" href="/static/css/common/common.css">
<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="/static/vendor/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://yangyangdeyi.oss-cn-shenzhen.aliyuncs.com/statis/js/2019823154159883.css">
<link rel="stylesheet" href="/static/js/spage/jquery.sPage.css">