<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品推广</title>
    <th:block th:replace="~{common/commonCss}"></th:block>
    <style type="text/css">.card-header, .card-body {
        padding: .6rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .row {
        padding: 5px 0;
        border-bottom: 1px dashed #cccccc;
    }

    .row .cover {
        height: 100px;
        line-height: 100px;
    }</style>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <th:block th:replace="~{user/common/header}"></th:block>

    <div class="main-container">
        <th:block th:replace="~{user/common/sideBar}"></th:block>

        <div class="content" id="app" v-cloak>
            <div class="card animated fadeInUp faster">
                <div class="card-header bg-light">产品推广</div>
                <div class="card-body">
                    <div class="row" v-for="item in data.records">
                        <div class="col-4 f-tac cover">
                            <img v-if="!!item.cover" :src="item.cover" class="mw-100 mh-100">
                            <span v-else class="f-info">暂无封面</span>
                        </div>
                        <div class="col-8 f-pr">
                            <div class="f-fs16">{{item.name}}</div>
                            <div>价格: <span class="f-success">￥{{item.priceF}}</span> <s
                                    v-if="item.price!=item.originPrice" class="f-info">原价: ￥{{item.originPriceF}}</s>
                            </div>
                            <div class="f-pa" style="bottom: 0;right: 10px;">
                                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#countDialog"
                                        @click="showCount(item)">流量分析
                                </button>
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#usersDialog"
                                        @click="showPopularize(item)">获取推广码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="countDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{entity.name}}流量分析</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div v-if="viewSale">
                                <span>总浏览：</span><span class="f-primary f-fs16">{{viewSale.viewCount||0}}</span>
                                <span>成交量：</span><span class="f-success f-fs16">{{viewSale.orderCount||0}}</span>
                            </div>
                            <div class="f-info mgt5">浏览记录：</div>
                            <div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>时间</th>
                                            <th>IP</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in historiesData.records">
                                            <td>
                                                <div v-if="item.createTime">{{new
                                                    Date(item.createTime).Format('yyyy/MM/dd hh:mm:ss')}}
                                                </div>
                                            </td>
                                            <td>{{item.ip}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="f-tac f-csp f-fs12" style="margin-bottom: 10px;">
                                    <div v-if="!noMore" @click="getHistor(historyReqVO.current+1)">加载更多</div>
                                    <div v-else class="f-info">暂无更多</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="usersDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{entity.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body f-tac">
                            <img v-if="!!imgUrl" :src="imgUrl">
                            <span v-else>加载中...</span>
                            <div class="mgt10 f-info">推广码</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{common/commonJs}"></th:block>
<th:block th:replace="~{common/commonJs2}"></th:block>
<script type="text/javascript">
    (function () {
        var app = new Vue({
            data: {
                noMore: false,
                data: {records: []},
                reqvo: {name: null, current: 1},
                historyReqVO: {current: 1},
                historiesData: {records: [], pages: 1, current: 1},
                imgUrl: null,
                entity: {},
                viewSale: null
            },
            mounted: function () {
                this.getData(1);
            },
            methods: {
                getHistor: function (n) {
                    this.historyReqVO.current = n || this.historyReqVO.current;
                    CommonUtils.request({
                        url: 'product/view', data: this.historyReqVO,
                        success: function (res) {
                            if (app.historiesData.current >= res.data.content.pages)
                                app.noMore = true;
                            if (app.historyReqVO.current == 1) {
                                app.historiesData.records = res.data.content.records || [];
                            } else {
                                app.historiesData.records.push.apply(app.historiesData.records, res.data.content.records || []);
                            }
                            app.historiesData.pages = res.data.content.pages;
                            app.historiesData.current = res.data.content.current;
                        }
                    });
                },
                showCount: function (item) {
                    this.entity = item;
                    CommonUtils.request({
                        url: 'product/viewSale',
                        data: {prodId: item.id},
                        success: function (res) {
                            app.viewSale = res.data.content || {};
                            app.historyReqVO.prodId = item.id;
                            app.getHistor(1);
                        }
                    })
                },
                showPopularize: function (item) {
                    this.entity = item;
                    this.showQRCode(item.id);
                },
                showQRCode: function (id) {
                    CommonUtils.request({
                        url: 'product/generateQrcode',
                        data: {id: id},
                        success: function (res) {
                            CommonUtils.request({
                                url: 'qrcode',
                                data: {content: res.data.content},
                                success: function (res1) {
                                    app.imgUrl = res1.data.content;
                                }
                            })
                        },
                        failure: function (res) {
                            CommonUtils.toast(res.data.msg)
                        }
                    });
                },
                getData: function (pageNo) {
                    this.reqvo.current = pageNo || this.reqvo.current;
                    CommonUtils.request({
                        url: 'product/list',
                        data: this.reqvo,
                        success: function (res) {
                            app.data = res.data.content;
                            app.data.records = app.data.records || [];
                        }
                    })
                }
            }
        }).$mount('#app');
    })();
</script>
</body>
</html>
