<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${page.name}"></title>
    <style type="text/css">body, html {
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
    }</style>
</head>
<body>
<div class="page-wrapper">
    <div class="main-container" th:utext="${page.content}"></div>
</div>
</body>
</html>
