<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>举报</title>
    <link rel="stylesheet" href="/static/css/common/w_complain.css">
</head>
<body class="zh_CN " ontouchstart="">
<div id="step3" style="">
    <div class="page_msg">
        <div class="icon_area"><i class="icon_msg success"></i></div>
        <div class="text_area"><h2 id="" class="title">举报成功</h2>
            <p id="result_desc" class="desc">
                感谢你的参与，微信坚决反对色情、暴力、欺诈等违规信息，我们会认真处理你的举报，维护绿色、健康的网络环境。</p></div>
        <div class="opr_area"><a id="successBtn_1" class="btn btn_primary"
                                 href="javascript:window.close();history.go(-3)">确定</a></div>
    </div>
</div>
</body>
</html>